.nav-container-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  background-color: rgb(32, 31, 31);

  font-family: Inter;
  font-weight: 400;
}

.nav-container-flex .item{
  margin-right: 1rem;
  margin: 0.75rem;
  padding: 1rem;
}

.nav-container-flex .item .inner-flex-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 6rem;
  width: 17rem;
}

.nav-container-flex .item .inner-flex-logo > img{
  width:8rem;
}

.nav-container-flex .item .inner-flex-logo > h1{
  color: rgb(83, 193, 222);
  font-weight: 900;
}

.nav-container-flex .item:nth-child(2) > h1{
  color: white;
  font-weight: 600;
}

.content-container{
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(36, 38, 46);
}

.content-container .grid-item-flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 40rem;

  font-family: Inter;
  font-weight: 400;
}

.content-container .grid-item-flex .item:nth-child(1){
  color: white;
  margin-left: 6rem;
  margin: 6rem 0 0 6rem;
  font-weight: 600;
  
}

.content-container .grid-item-flex .item:nth-child(2) {
  color: white;
  padding-left: 7rem;
  margin: 1.5rem 0 0 4rem;
}

.content-container .grid-item-flex .item:nth-child(2) > ul > li{
  margin-bottom: 1em;
  color: rgb(83, 193, 222)
}

.content-container .grid-item-flex .item:nth-child(2) > ul > li > span{
  color: white;
  font-weight: 600;
}


.content-container .grid-item-img > img{
  margin-left: 8rem;
  width: 50rem;

  filter: opacity(0.1);
  transform: rotate(45deg);

}

.footer-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 2rem;
  background-color: rgb(23, 23, 23);

  font-family: Inter;
  font-weight: 400;
}

.footer-container > span{
  color: grey;
  margin-left: 1em;
}





